.custom-grid {
  grid-template-columns: 1fr 3fr;
}

/* Responsive */
@media screen and (min-width: 577px) and (max-width: 767px) {
  .custom-grid {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 576px) {
  .custom-grid {
    grid-template-columns: 1fr;
  }
}
